.header {
  position: sticky;
  top: 0;
  /* background-color: var(--color-background); */
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  font-size: medium;
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  border-bottom: 0.1rem solid var(--color-input-border);
  top: 0;
  z-index: -1;
  /* خلاه يرجع ورا علي اللينكات تتفعل */
  background-color: var(--color-background);
}
.navigation {
  transition: var(--transition-timing);
}

.navigation__list {
  display: flex;
  gap: 1.5rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-semi-bold);
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
}

.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#media:target) .navigation__media,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.burger-menu__checkbox {
  display: none;
}

/* Toggle */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.toggl__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-15);
}

.toggle__checkbox {
  display: none;
}

.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 3.8rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  transition: 0.3s;
}

.toggle__label::after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: block;
  background-color: var(--color-white);
  transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}

.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}
/* End Toggle */
